#header{
    width:100%;
    height: auto;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.footer{
    background-color: rgb(41, 41, 41);
    display: inline-block;
    width: 100%;
}
.icon{
    height: 15px;
    width: 15px;
}
a{
    color: rgb(194, 194, 194);
}
#taskbar{
    position: fixed;
    text-align: center;
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    text-emphasis: none;
    font-weight: 100;
    background-color:rgb(41, 41, 41);
    height: 5%;

}
#taskbar a{
    text-decoration: none;
    font-size: 120%;
    vertical-align: middle;
    text-align: center;
    display: inline;
}
#taskbar a:hover{
    text-decoration: underline ;
    text-decoration-color: #3498db ;
}
#taskbar img{
    height: 100%;
    position: absolute;
    left: 1%;
}
#links{
    display: inline-block;
    position: absolute;
}body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    line-height: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.change {
    border: none;
    height: 2px;
    background: rgba(34, 34, 34, 0.507);
    width: 90%;
    margin: 5%;
}
.lparagraph{
    margin-left: 10%;
    margin-right: 10%;
    width: 35%;
    float: left;
    margin-top:1.5%;
    margin-bottom:1.5%;
}
.rparagraph{
    margin-left: 10%;
    margin-right: 10%;
    width: 35%;
    float: right;
    margin-top:1.5%;
    margin-bottom:1.5%;
}
.quote{
    color: gray;
    font-size: 15px;
}
.rpic{
    margin:17px;
    width:30%;
    height: auto;
    margin-top:1.5%;
    margin-bottom:1.5%;
}
.lpic{
    margin:17px;
    width:30%;
    height: auto;
    float: left;
    margin-top:1.5%;
    margin-bottom:1.5%;
}
#contact{
    float:left;
    color: rgb(194, 194, 194);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    width: 30%;
    font-weight: 100;
    font-size: 15px;
}
#credit{
    float: right;
    color: rgb(194, 194, 194);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    width: 30%;
    font-weight: 100;
    font-size: 15px;
}
.leftThird{
    margin-left: 20%;
    text-align: center;
    width:20%;
    float: left;
    font-weight: 100
}
.middleThird{
    text-align: center;
    width:20%;
    float: left;
}
.rightThird{
    text-align: center;
    margin-right: 20%;
    width:20%;
    float: left;
}